<h1 style="font-family: 'American Typewriter', sans-serif"> <b>
    Análisis de patrones de desigualdad de ingresos
</b> </h1>

<p style="font-family: 'Brush Script MT', cursive; font-size: 24px;" align="right">
Francisco Chaux Guzmán
</p>

# Preparación del entorno de trabajo

Se hace la carga de las librerías necesarias.

In [1]:
# procesamiento de datos
import numpy as np
import pandas as pd

# visualización de datos
import matplotlib.pyplot as plt
import seaborn as sns

# Preparación de los datos

Se realiza la importación de la [información mundial sobre desigualdad de ingresos](https://www.kaggle.com/datasets/mannmann2/world-income-inequality-database).

In [5]:
# lectura de los datos
datos_desigualdad = pd.read_csv('../datos/WIID_06MAY2020.csv')
# revisión de las primeras observaciones
datos_desigualdad.head()

,Unnamed: 0,id,country,c3,c2,year,gini_reported,palma,ratio_top20bottom20,bottom40,...,gdp_ppp_pc_usd2011,population,revision,quality,quality_score,source,source_detailed,source_comments,survey,link
0,0,1,Afghanistan,AFG,AF,2008,29.00,NaN,4.33,22.00,...,1268.0,27722282.0,New 2019,High,12,National statistical authority,European Union and the Central Statistics Orga...,NaN,Living Conditions Survey (LCS),https://cso-of-afghanistan.shinyapps.io/ALCS_D...
1,1,2,Afghanistan,AFG,AF,2012,33.00,NaN,4.11,23.00,...,1773.0,31161378.0,New 2019,High,12,National statistical authority,European Union and the Central Statistics Orga...,NaN,Living Conditions Survey (LCS),https://cso-of-afghanistan.shinyapps.io/ALCS_D...
2,2,3,Afghanistan,AFG,AF,2017,31.00,NaN,4.44,22.00,...,1758.0,36296108.0,New 2019,High,12,National statistical authority,European Union and the Central Statistics Orga...,NaN,Living Conditions Survey (LCS),https://eeas.europa.eu/regions/asia/44072/resu...
3,3,4,Albania,ALB,AL,1996,27.01,0.93,3.95,22.85,...,4635.0,3098699.0,New 2019,Average,13,World Bank,World Bank 2019,PovcalNet,NaN,http://iresearch.worldbank.org/PovcalNet/povOn...
4,4,5,Albania,ALB,AL,2002,31.74,1.22,4.83,20.93,...,6088.0,3126183.0,New 2019,Average,13,World Bank,World Bank 2019,PovcalNet,NaN,http://iresearch.worldbank.org/PovcalNet/povOn...

También reviso la estructura de la base.

In [12]:
datos_desigualdad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11826 entries, 0 to 11825
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           11826 non-null  int64
 1   id                   11826 non-null  int64
 2   country              11826 non-null  object
 3   c3                   11826 non-null  object
 4   c2                   11816 non-null  object
 5   year                 11826 non-null  int64
 6   gini_reported        11747 non-null  float64
 7   palma                6714 non-null   float64
 8   ratio_top20bottom20  7503 non-null   float64
 9   bottom40             7459 non-null   float64
 10  q1                   7576 non-null   float64
 11  q2                   7354 non-null   float64
 12  q3                   7375 non-null   float64
 13  q4                   7381 non-null   float64
 14  q5                   7577 non-null   float64
 15  d1                   6671 non-null   float64
 16  d2                   6587 non-null   float64
 17  d3                   6587 non-null   float64
 18  d4                   6587 non-null   float64
 19  d5                   6607 non-null   float64
 20  d6                   6612 non-null   float64
 21  d7                   6618 non-null   float64
 22  d8                   6615 non-null   float64
 23  d9                   6634 non-null   float64
 24  d10                  6777 non-null   float64
 25  bottom5              1928 non-null   float64
 26  top5                 2568 non-null   float64
 27  resource             11825 non-null  object
 28  resource_detailed    11826 non-null  object
 29  scale                11325 non-null  object
 30  scale_detailed       11325 non-null  object
 31  sharing_unit         11331 non-null  object
 32  reference_unit       11789 non-null  object
 33  areacovr             11826 non-null  object
 34  areacovr_detailed    11826 non-null  object
 35  popcovr              11826 non-null  object
 36  popcovr_detailed     11826 non-null  object
 37  region_un            11826 non-null  object
 38  region_un_sub        11826 non-null  object
 39  region_wb            11826 non-null  object
 40  eu                   11826 non-null  object
 41  oecd                 11826 non-null  object
 42  incomegroup          11826 non-null  object
 43  mean                 6417 non-null   float64
 44  median               5003 non-null   float64
 45  currency             7356 non-null   object
 46  reference_period     7417 non-null   object
 47  exchangerate         6301 non-null   float64
 48  mean_usd             135 non-null    float64
 49  median_usd           59 non-null     float64
 50  gdp_ppp_pc_usd2011   8300 non-null   float64
 51  population           11765 non-null  float64
 52  revision             7827 non-null   object
 53  quality              11825 non-null  object
 54  quality_score        11826 non-null  int64
 55  source               11826 non-null  object
 56  source_detailed      11826 non-null  object
 57  source_comments      5941 non-null   object
 58  survey               5578 non-null   object
 59  link                 3340 non-null   object
dtypes: float64(28), int64(4), object(28)
memory usage: 5.4+ MB

No se logran ver todas las columnas pero, por el momento, no parece ver nada extraño.